<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>

  <connectionStrings>

    <!--<add name="PZE_Entities" connectionString="Server=AIO-11\KRUTEC;Database=KruAll_PZE_codefirst;Integrated Security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.EntityClient" />
 
    <add name="KrutecPZE" connectionString="Server=AIO-11\KRUTEC;Database=KrutecPZE_fromThomasPC_codefirst;Integrated Security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />-->

    <!--<add name="PZE_Entities" connectionString="provider=System.Data.SqlClient;provider connection string=&quot;data source=AIO-11\KRUTEC;initial catalog=KrutecPZE_fromThomasPC_123;user id=sa;password=krutecKR02;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->

    <!--<add name="KrutecPZE" connectionString="provider=System.Data.SqlClient;provider connection string=&quot;data source=AIO-11\KRUTEC;initial catalog=KrutecPZE_fromThomasPC_567;user id=sa;password=krutecKR02;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->

    <!--<add name="PZE_Entities" connectionString="metadata=res://*/Models.KruAll_PZE.csdl|res://*/Models.KruAll_PZE.ssdl|res://*/Models.KruAll_PZE.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=AIO-11\KRUTEC;initial catalog=KruAll_PZE_Newest_58258;persist security info=True;user id=sa;password=krutecKR02;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.SqlClient" />-->
 
    <add name="PZE_Entities" connectionString="Server=AIO-11\KRUTEC;Database=KruAll_PZE_codefirst;persist security info=True;user id=sa;password=krutecKR02;multipleactiveresultsets=True;" providerName="System.Data.SqlClient" />
  
  </connectionStrings>

  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>

    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>

  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="2147483647"/>
      </webServices>
    </scripting>
  </system.web.extensions>

</configuration>