.ContentAreaDiv {
    width: 100%;
    clear: none;
    float: left;
    height: 100%;
    margin: 0 auto;
    background-color: #FFFFFF;
    box-shadow: rgba(186,186,186,0.75);
    -webkit-box-shadow: 0 1px 10px #777;
    -moz-box-shadow: 1 1px 10px #777;
    box-shadow: 0px 1px 10px #777;
    border-bottom: none !important;
}

.TopContentAreaDiv {
    height: 8%;
    background-color: #FFFFFF;
    box-shadow: rgba(186,186,186,0.75);
    -webkit-box-shadow: 0 1px 10px #777;
    -moz-box-shadow: 1 1px 10px #777;
    box-shadow: 0px 1px 10px #777;
    border-bottom: none !important;
    width: 100%;
    float: left;
    clear: both;
    min-height: 74px;
}

.MidContentAreaDiv {
    width: 100%;
    float: left;
    height: 90%;
    margin-top: 1%;
    border: 1px solid grey;
    background-color: #FFFFFF;
    box-shadow: rgba(186,186,186,0.75);
    -webkit-box-shadow: 0 1px 10px #777;
    -moz-box-shadow: 1 1px 10px #777;
    box-shadow: 0px 1px 10px #777;
    border-bottom: none !important;
}

.sectop {
    float: left;
    width: 100%;
}

.labeltop {
    width: 100%;
    float: left;
    color: #54a3ee;
    margin-left: 24%;
    font-weight: 600;
}

.lblqckdruk {
    float: left;
    width: 6%;
    color: red;
    margin-left: 4%;
}

.lblalleanswe {
    float: left;
    width: 7%;
}

.lblpersonlist {
    float: left;
    width: 145px;
    margin-left: 25px;
}

.combopersonno {
    float: left;
    width: 90px;
    border-radius: 5px;
    height: 25px;
}

.combopersondes {
    float: left;
    width: 15%;
    border-radius: 5px;
    height: 25px;
}

.chkanwse {
    float: left;
    width: 3%;
}

.lblalleabswe {
    float: left;
    width: 102px;
    margin-left: 77px;
}

.chkabwse {
    float: left;
    width: 3%;
}

.lblalleget {
    float: left;
    width: 119px;
    margin-left: 11px;
}

.chkallget {
    float: left;
    width: 3%;
}

.lbldatum {
    float: left;
    width: 51px;
    margin-left: 20px;
}

.lblaktivep {
    float: left;
    width: 115px;
    margin-left: 20px;
}

.datedisT {
    float: left;
    height: 25px;
    border-radius: 5px;
    margin-right: 10px;
}

.datedis {
    float: left;
    height: 25px;
    border-radius: 5px;
    margin-right: 57px;
}

.btnquickdruk {
    width: 89px;
    height: 30px;
    border-radius: 5px;
    float: left;
    margin: 5px 4px 0 0;
    background-position: 10px center;
    background-repeat: no-repeat;
    border: none !important;
    text-align: center !important;
    background-color: transparent !important;
    text-decoration: underline !important;
    color: red !important;
}

    .btnquickdruk:hover:enabled {
        background-color: transparent !important;
        cursor: pointer;
        border: none !important;
    }

.toplabel {
    float: left;
    width: 100%;
    margin-top: 12px;
    height: 4%;
    clear: both;
}

.contentarea {
    width: 100%;
    /*border: 1px solid grey;*/
    clear: both;
    height: 98%;
    float: left;
    /*margin-left:9%;*/
    /*background-color: #FFFFFF;
    box-shadow: rgba(186,186,186,0.75);
    -webkit-box-shadow: 0 1px 10px #777;
    -moz-box-shadow: 1 1px 10px #777;
    box-shadow: 0px 1px 10px #777;
    border-bottom: none !important;*/
}

.top1 {
    width: 100%;
    float: left;
    height: 37%;
}

.top1left {
    float: left;
    width: 60%;
    height: 100%;
}

.top1right {
    float: left;
    width: 25%;
    height: 100%;
}

.top1farright {
    float: left;
    width: 15%;
    height: 100%;
}

.lblleft {
    width: 100%;
    float: left;
    height: 16%;
}

.lblcenter {
    width: 100%;
    float: left;
    height: 9%;
    display: none;
}

.lblfarright {
    width: 100%;
    float: left;
    height: 6%;
}

.lblcen {
    width: 100%;
    float: left;
    height: 6%;
}

.lblright {
    width: 100%;
    float: left;
    height: 16%;
}

.lbaus {
    float: left;
    color: #54a3ee;
    margin-top: 10px;
    margin-left: 25px;
}

.lbcen {
    float: left;
    color: #54a3ee;
    margin-top: 10px;
}

.lbdrun {
    float: left;
    color: #54a3ee;
    margin-top: 10px;
}

.lbsel {
    color: #54a3ee;
    float: left;
    margin-top: 10px;
}

.lbldatefrom {
    float: left;
    margin-left: 25px;
    width: 20%;
}

.lbldateto {
    float: left;
    width: 6%;
}

.topsec1left {
    width: 100%;
    float: left;
    height: 16%;
}

.topsec1leftright {
    width: 100%;
    float: left;
    height: 16%;
    padding-top: 3px;
}

.topsec1right {
    width: 85%;
    float: left;
    height: 16%;
}

.topsec1left2 {
    width: 100%;
    float: left;
    height: 16%;
}

.topsec1right2 {
    width: 85%;
    float: left;
    height: 15%;
}

.topsec1right2b {
    width: 85%;
    float: left;
    height: 35px;
}

.mainTableClass {
    width: 100%;
    height: 101%;
}

.mainTableClassbelow {
    width: 100%;
    height: 102%;
}

.rowOne {
    width: 100%;
    height: 50%;
}

.tblCell1 {
    border: 1px solid gray;
    width: 13%;
}

.tblCell12 {
    border: 1px solid gray;
    width: 18%;
}

.tblCell2 {
    border: 1px solid gray;
    width: 65%;
}

.tblCell3 {
    border: 1px solid gray;
    width: 25%;
}

.lblno {
    width: 100%;
    text-align: center;
    float: left;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 4px;
    padding-bottom: 4px;
    padding-right: 0px;
}

.lblobjectareatitle {
    width: 93%;
    text-align: left;
    float: left;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 4px;
    padding-bottom: 4px;
    padding-right: 0px;
    padding-left: 4px;
}

.drpcombo {
    float: left;
    height: 25px;
    border-radius: 5px;
    margin-right: 58px;
}

input[type=checkbox] + label::before {
    display: block;
    content: url('/Images/FormImages/red.png');
    position: relative;
    width: 20px;
    float: left;
    margin-left: 42%;
    cursor: pointer;
    margin-top: 3px;
}


input[type=checkbox]:checked + label::before {
    content: url('/Images/FormImages/red1.png');
    cursor: pointer;
}

#chkStudioGroup, #chkMemberName, #chkMemberNumber, #chkPlace, #chkPostalCode, #chkSalutation, #chkStreetNumber, #chkContractNumber, #chkDateOfBirth, #chkNationality, #chkProfession, #chkTelephone, #chkMobile, #chkEmail, #chkStartDate, #chkEndDate, #chkLongtermCard, #chkShortTermCard, #chkAccessFromTo, #chkAccessPlanNr, #chkAccessPlanName, #chkgul {
    display: none;
}

.belowsec {
    float: left;
    width: 100%;
    height: 63%;
}

.belowsecholder {
    width: 31%;
    float: left;
    margin-left: 25px;
}

.belowsecholderlast {
    width: 31%;
    float: left;
    margin-left: 1px;
}

.upperpart {
    float: left;
    width: 100%;
    height: 50%;
    margin-top: 6px;
}

.lowerpart {
    float: left;
    width: 100%;
    height: 50%;
    margin-top: 6px;
}

.lblDtDisp {
    width: 5%;
    float: left;
    color: #54a3ee;
    font-size: 15px;
    font-weight: 600;
    margin-top: 0px;
}

.txtperli {
    float: left;
    width: 91px;
    height: 25px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    border: 1px solid #c2c2c2;
    box-shadow: 1px 1px 4px #ebebeb;
    -moz-box-shadow: 1px 1px 4px #ebebeb;
    -webkit-box-shadow: 1px 1px 4px #ebebeb;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    outline: 0;
}

.txtdes {
    float: left;
    width: 15%;
    height: 25px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    border: 1px solid #c2c2c2;
    box-shadow: 1px 1px 4px #ebebeb;
    -moz-box-shadow: 1px 1px 4px #ebebeb;
    -webkit-box-shadow: 1px 1px 4px #ebebeb;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    outline: 0;
}

.leftside {
    float: left;
    width: 70%;
    height: 100%;
}

.gridarea {
    float: left;
    width: 30%;
    height: 100%;
}

.grid {
    float: left;
    width: 95%;
    height: 94%;
    overflow-y: auto;
}

.belowgrid {
    margin-top: 7px;
    float: left;
    width: 85%;
    height: 9%;
    overflow-y: auto;
}

.lblvariantlast {
    width: 80%;
    float: left;
    text-align: left;
    font-size: 12px;
    color: red;
    margin-left: 2px;
    clear: none;
}

.chkvar {
    float: left;
    width: 18%;
}




/*TopPArtREportView*/
.showReports {
    width: 100%;
    clear: none;
    float: left;
    height: 100%;
    margin: 0 auto;
    background-color: #FFFFFF;
    -webkit-box-shadow: 0 1px 10px #777;
    -moz-box-shadow: 1 1px 10px #777;
    box-shadow: rgba(186,186,186,0.75);
    box-shadow: 0px 1px 10px #777;
    border-bottom: none !important;
}

.showReportsVarB {
    width: 100%;
    clear: none;
    float: left;
    height: 100%;
    margin: 0 auto;
    background-color: #FFFFFF;
    -webkit-box-shadow: 0 1px 10px #777;
    -moz-box-shadow: 1 1px 10px #777;
    box-shadow: rgba(186,186,186,0.75);
    box-shadow: 0px 1px 10px #777;
    border-bottom: none !important;
}

.showReportsVarC {
    width: 100%;
    clear: none;
    float: left;
    height: 100%;
    margin: 0 auto;
    background-color: #FFFFFF;
    -webkit-box-shadow: 0 1px 10px #777;
    -moz-box-shadow: 1 1px 10px #777;
    box-shadow: rgba(186,186,186,0.75);
    box-shadow: 0px 1px 10px #777;
    border-bottom: none !important;
}

.showReportsVarD {
    width: 100%;
    clear: none;
    float: left;
    height: 100%;
    margin: 0 auto;
    background-color: #FFFFFF;
    -webkit-box-shadow: 0 1px 10px #777;
    -moz-box-shadow: 1 1px 10px #777;
    box-shadow: rgba(186,186,186,0.75);
    box-shadow: 0px 1px 10px #777;
    border-bottom: none !important;
}

.showReportsDocViewer {
    float: left;
    height: 91%;
    width: 100%;
    margin-top: 1%;
    border: 1px solid grey;
    background-color: #FFFFFF;
    -webkit-box-shadow: 0 1px 10px #777;
    -moz-box-shadow: 1 1px 10px #777;
    box-shadow: rgba(186,186,186,0.75);
    box-shadow: 0px 1px 10px #777;
    border-bottom: none !important;
    overflow-y: auto;
}

.mainBodyTop {
    height: 13%;
    width: 100%;
    float: left;
    margin-left: 0px;
    margin-bottom: 10px;
    margin-top: 0px;
    background-color: #FFFFFF;
    -webkit-box-shadow: 0 1px 10px #777;
    -moz-box-shadow: 1 1px 10px #777;
    box-shadow: rgba(186,186,186,0.75);
    box-shadow: 0px 1px 10px #777;
    border-bottom: none !important;
}



.mainBodyTop1 {
    height: 84%;
    width: 100%;
    padding-top: 8px;
    float: left;
}

.mainBodyTop1left {
    height: 100%;
    width: 20%;
    float: left;
}

.mainBodyTop1leftlbl2 {
    height: 100%;
    width: 14%;
    float: left;
}

.mainBodyTop1leftlbl {
    height: 100%;
    width: 38%;
    float: left;
}

.lblreport {
    width: 88%;
    height: 23%;
    float: left;
    margin-left: 10px;
    min-width: 120px;
    margin-top: 7px;
}


.mainBodyTop1leftdrp {
    height: 100%;
    width: 59%;
    float: left;
    min-width: 103px;
}

.drpreportvon2 {
    width: 100%;
    height: 25px;
    float: left;
    margin-top: 5px;
    border-radius: 5px;
    margin-left: 11px;
}

.drpreport {
    width: 100%;
    height: 25px;
    float: left;
    margin-top: 5px;
    min-width: 154px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid #c2c2c2;
    -moz-box-shadow: 1px 1px 4px #ebebeb;
    -webkit-box-shadow: 1px 1px 4px #ebebeb;
    box-shadow: 1px 1px 4px #ebebeb;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    outline: 0;
}

.drpreport3 {
    width: 97%;
    height: 25px;
    float: left;
    margin-top: 4px;
    border-radius: 5px;
    background-color: #f69679;
    margin-left: 7px;
}

.secDateindividual {
    width: 98%;
    height: 55%;
    float: left;
    margin-top: 1%;
}

.mainBodyTop1left2 {
    height: 100%;
    width: 16%;
    float: left;
    margin-left: 1px;
    min-width: 189px;
}

.lblBis {
    width: 100%;
    height: 23%;
    float: left;
    min-width: 36px;
    margin-top: 8px;
    text-align: center;
}

.mainBodyTop1leftdrp4New {
    height: 100%;
    width: 80%;
    float: left;
    min-width: 103px;
}

.drpreportnew {
    width: 98%;
    height: 25px;
    float: left;
    margin-top: 5px;
    margin-left: 5px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid #c2c2c2;
    -moz-box-shadow: 1px 1px 4px #ebebeb;
    -webkit-box-shadow: 1px 1px 4px #ebebeb;
    box-shadow: 1px 1px 4px #ebebeb;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    outline: 0;
}

.mainBodyTop1left3 {
    height: 100%;
    width: 63%;
    float: left;
    margin-left: 6px;
}

.selectionOne {
    width: 100%;
    height: 33%;
    float: left;
}

.selectionTwo {
    width: 100%;
    height: 33%;
    float: left;
}

.topRight1 {
    width: 48%;
    float: left;
    height: 100%;
}

.lblDtFromTitle {
    width: 6.6%;
    float: left;
    margin-top: 9px;
}

.txtDispDateFrom {
    width: 20%;
    height: 25px;
    float: left;
    margin-top: 5px;
    min-width: 154px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid #c2c2c2;
    -moz-box-shadow: 1px 1px 4px #ebebeb;
    -webkit-box-shadow: 1px 1px 4px #ebebeb;
    box-shadow: 1px 1px 4px #ebebeb;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    outline: 0;
}

.txtDispDateTo {
    width: 20%;
    height: 25px;
    float: left;
    margin-top: 5px;
    min-width: 154px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid #c2c2c2;
    -moz-box-shadow: 1px 1px 4px #ebebeb;
    -webkit-box-shadow: 1px 1px 4px #ebebeb;
    box-shadow: 1px 1px 4px #ebebeb;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    outline: 0;
}

.lblDateToTitle {
    width: 10%;
    float: left;
    margin-left: 2%;
    margin-top: 8px;
    padding-right: 6px;
}

.topRight2 {
    width: 32%;
    height: 100%;
    float: left;
}

.lblPrintMode {
    width: 41%;
    float: left;
    font-weight: 600;
    margin-left: 12%;
}

.lblTimeHrsMode {
    width: 31%;
    float: left;
    margin-left: 1%;
}


.topRight3 {
    width: 14%;
    float: left;
    height: 100%;
}

.lblPrintModeobj {
    width: 88%;
    float: left;
    margin-left: 12%;
    font-weight: 600;
}

.selectionThree {
    width: 100%;
    height: 33%;
    float: left;
}

.lblPrintDate {
    width: 23%;
    float: left;
    margin-top: 9px;
    margin-left: 2%;
}


.lblHrsToTitle {
    width: 9.5%;
    float: left;
    margin-left: 2%;
    margin-top: 8px;
    padding-right: 6px;
}

.loggedInUser {
    width: 80%;
    height: 25px;
    float: left;
    margin-left: 12%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid #c2c2c2;
    -moz-box-shadow: 1px 1px 4px #ebebeb;
    -webkit-box-shadow: 1px 1px 4px #ebebeb;
    box-shadow: 1px 1px 4px #ebebeb;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    outline: 0;
}

.lblCreatedBy {
    width: 32%;
    float: left;
    display: inline-block;
    margin-left: 3%;
}

.lblPersNameText {
    width: 60%;
    float: left;
    display: inline-block;
}

.topRight3 {
    width: 14%;
    float: left;
    height: 100%;
}

.mainBodybtm {
    height: 86%;
    width: 99.5%;
    overflow-y: auto;
    margin-left: auto;
    margin-right: auto;
    -webkit-box-shadow: 0 1px 10px #777;
    -moz-box-shadow: 1 1px 10px #777;
    box-shadow: rgba(186,186,186,0.75);
    box-shadow: 0px 1px 10px #777;
    border-bottom: none !important;
}

.showReportsPersonal {
    width: 100%;
    clear: none;
    float: left;
    height: 100%;
    margin: 0 auto;
    background-color: #FFFFFF;
    -webkit-box-shadow: 0 1px 10px #777;
    -moz-box-shadow: 1 1px 10px #777;
    box-shadow: rgba(186,186,186,0.75);
    box-shadow: 0px 1px 10px #777;
    border-bottom: none !important;
}

.lblDateTitle {
    width: 10%;
    float: left;
    margin-top: 9px;
    margin-left: 2%;
}









#overlay {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

#box_flame {
    width: 100%;
    position: fixed;
    top: 30%;
}






#lbltitletop {
    width: 91%;
    float: left;
    clear: none;
    height: 100%;
    font-size: 16px;
    text-align: center;
    color: #000000;
    font-weight: 600;
}

.stopPic {
    width: 50px !important;
    height: 50px !important;
    float: left;
    padding: 5px;
    clear: both;
}


#promptbtnclose {
    width: 25px;
    float: right;
    margin-right: 8px;
    clear: none;
    height: 25px;
    background-image: url('../../Images/FormImages/promptclose.png');
    background-repeat: no-repeat;
    background-color: transparent;
    border: none !important;
    cursor: pointer;
}
  
#lbltitlemsg {
    color: black;
    font-weight: 600;
    width: 100%;
    font-size: 16px;
    margin-top: 2%;
    margin-left: 10px;
    float: left;
    height: 40%;
    text-align: left;
    clear: both;
}

#prompttopclose {
    width: 100%;
    float: left;
    background-color: transparent;
    clear: none;
    height: 27px;
}

#areasavepop {
    text-align: left;
    width: 482px;
    height: 198px;
    padding: 0;
    float: left;
    background-color: white;
    clear: none;
    margin-left: 5px;
    margin-right: 0px;
    margin-top: 0px;
}





#dialogBox {
    width: 500px;
    height: 230px;
    padding: 10px;
    margin: auto;
    text-align: center;
    color: black;
    font-weight: 600;
    border: 1px solid black;
    font-size: 16px;
    background: #2ab0ed;
    background: -moz-linear-gradient(top, #2ab0ed 0%, #e4f5fc 0%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#2ab0ed), color-stop(0%,#e4f5fc));
    background: -webkit-linear-gradient(top, #2ab0ed 0%,#e4f5fc 0%);
    background: -o-linear-gradient(top, #2ab0ed 0%,#e4f5fc 0%);
    background: -ms-linear-gradient(top, #2ab0ed 0%,#e4f5fc 0%);
    background: linear-gradient(to bottom, #2ab0ed 0%,#e4f5fc 0%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2ab0ed', endColorstr='#e4f5fc',GradientType=0 );
    box-shadow: rgba(186,186,186,0.75);
    -webkit-box-shadow: 0 1px 10px #777;
    -moz-box-shadow: 1 1px 10px #777;
    box-shadow: 0px 1px 10px #777;
    border-bottom: none !important;
}

#btnNo {
    display: block;
    width: 160px;
    float: left;
    padding: 0;
    height: 30px;
    margin-top: 15px;
    margin-right: 1px;
    border: none !important;
    text-align: right !important;
    background-color: transparent !important;
    text-decoration: underline !important;
    color: red !important;
    border-radius: 5px;
}

    #btnNo:enabled:hover {
        background-color: none !important;
        cursor: pointer;
    }

#btnCancel {
    display: block;
    width: 203px;
    float: left;
    height: 30px;
    margin-top: 15px;
    border: none !important;
    text-align: right !important;
    background-color: transparent !important;
    text-decoration: underline !important;
    color: forestgreen !important;
    border-radius: 5px;
}

    #btnCancel:enabled:hover {
        background-color: none !important;
        cursor: pointer;
    }


#btnOk {
    display: block;
    width: 156px;
    height: 30px;
    padding: 0;
    float: left;
    margin-right: 1px;
    margin-top: 15px;
    border: none !important;
    text-align: right !important;
    background-color: transparent !important;
    text-decoration: underline !important;
    color: red !important;
    border-radius: 5px;
}

    #btnOk:enabled:hover {
        background-color: none !important;
        cursor: pointer;
    }

#btnBackOk {
    display: block;
    width: 110px;
    height: 30px;
    padding: 0;
    float: left;
    margin-right: 1px;
    margin-top: 15px;
    border: none !important;
    text-align: right !important;
    background-color: transparent !important;
    text-decoration: underline !important;
    color: forestgreen;
    border-radius: 5px;
}

    #btnBackOk:enabled:hover {
        background-color: none !important;
        cursor: pointer;
    }
    
#btnErrorOk {
    display: block;
    width: 156px;
    height: 30px;
    padding: 0;
    float: left;
    margin-right: 1px;
    margin-top: 15px;
    border: none !important;
    text-align: right !important;
    background-color: transparent !important;
    text-decoration: underline !important;
    color: red !important;
    border-radius: 5px;
}

    #btnErrorOk:enabled:hover {
        background-color: none !important;
        cursor: pointer;
    }

    .focusOnError {
    border: 1px solid red;
}

.removeBorderOnError {
    border: 1px solid #c2c2c2;
}
.topRight3perpekind {
    width: 29%;
    float: left;
    height: 100%;
    margin-top: 5px;
}
.secholdingarea1_new {
    float: left;
    height: 99%;
    margin-left: 11px;
    margin-right: 5px;
    width: 33%;
}


.secholdingarea1b_new {
    float: left;
    height: 99%;
    margin-right: 0px;
    width: 47%;
}

.secholdingarea1b_new {
    float: left;
    height: 99%;
    margin-right: 0px;
    width: 48%;
}
.txtportrait {
    width: 5%;
    min-width: 40px;
    float: left;
    margin-left: 0px;
    padding-left: 2px;
    font-weight: 600;
    margin-top: 2px;
    text-align: left;
    display: block;
}
.btnorientation1 {
    height: 30px;
    width: 32px;
    text-indent: -9999px;
    display: block;
    float: left;
    margin-top: -1px;
    clear: none;
    background-image: url('../../Images/FormImages/portrait1.png');
    background-repeat: no-repeat;
    background-size: contain;
}

.chk1controllast {
    float: right;
    clear: none;
    margin-top: 22px;
    height: 20px;
    width: 19px;
}
.txtlandscape {
    width: 5%;
    min-width: 40px;
    float: left;
    margin-left: 0px;
    padding-left: 4px;
    font-weight: 600;
    margin-top: 20px;
    text-align: left;
    display: block;
}
.txtlandscape_new {
    width: 5%;
    min-width: 40px;
    float: left;
    margin-left: 0px;
    padding-left: 4px;
    font-weight: 600;
    margin-top: 2px;
    text-align: left;
    display: block;
}
.btnorientation2 {
    height: 30px;
    width: 35px;
    text-indent: -9999px;
    margin-left: 5px;
    display: block;
    float: left;
    margin-top: 2px;
    clear: none;
    background-image: url('../../Images/FormImages/landscape1.png');
    background-repeat: no-repeat;
    background-size: contain;
}
.chk1controllast {
    float: left;
    clear: none;
    margin-top: 4px;
    height: 20px;
    width: 14px;
}
